Source: ananicy-cpp
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13),
               cmake,
               cmake-extras,
               ninja,
               clang,
               build-essential,
               g++,
               libsystemd-dev
Rules-Requires-Root: no

Package: ananicy-cpp
Architecture: linux-any
Depends: ${misc:Depends}
Provides: ananicy-cpp
Description: Sets nice levels based on profiles
